@page "/servers/{ServerId}/disks"

<div class="d-flex flex-column flex-grow-1 gap-4">
    <PageTitle>Disks</PageTitle>
</div>

@code {
    [Parameter] public string? ServerId { get; set; }

    private string _searchString = "";
    private Disk? _selectedDisk;

    private IEnumerable<Disk> _disks = new List<Disk>();

}