@page "/dashboard"
@using Microsoft.AspNetCore.Components.Authorization
@using ServerManagement.UI.Components.Guards

<AuthorizeView>
    <Authorized>
        <h3>Dashboard</h3>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>



@code {

}