@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello,
    <AuthorizeView>
        <Authorized>@context?.User?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.GivenName)?.Value</Authorized>
        <NotAuthorized>World!</NotAuthorized>
    </AuthorizeView>
</h1>

Welcome to your new app.
